<link rel="stylesheet" href="assets/css/footer.css">

<footer id="footer" class="footer">

  <div class="container">
    <div class="row gy-4">

      <div class="col-lg-3 col-md-12 footer-info">
        <a href="index.html" class="logo d-flex align-items-center">
          <span class="box-logo"><img src="assets/img/canada-logo.jpeg"></span>
        </a>
        <p>Le Comité International pour l’Aide d’Urgence et le Développement a pour Mission de fournir une assistance
          humanitaire dans les situations de crise dont notamment la famine, le désastre, les catastrophes naturelles,
          les conflits armés et de contribuer au développement communautaire dans les pays en voie de développement afin
          d’aider les populations à acquérir leur propre autonomie</p>
        <div class="social-links d-flex mt-4">
          <a href="https://twitter.com/CiaudCanada" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
          <a href="https://www.facebook.com/CIAUD.CA" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/ciaudcanada" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
          <a href="https://www.linkedin.com/company/ciaudcanada" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Ce que nous faisons</h4>
        <ul>
          <li><a href="about.html">À propos du CIAUD</a></li>
          <li><a href="programmes.html">Nos programmes</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Où nous agissons</h4>
        <ul>
          <li><a href="countries.html?country=niger">Niger</a></li>
          <li><a href="countries.html?country=mali">Mali</a></li>
          <li><a href="countries.html?country=guinee">Guinée</a></li>
          <li><a href="countries.html?country=burkina-faso">Burkina Faso</a></li>
          <li><a href="countries.html?country=cote-ivoire">Côte d’Ivoire</a></li>
          <li><a href="countries.html?country=djibouti">Djibouti</a></li>
          <li><a href="countries.html?country=rdc">RDC</a></li>
          <li><a href="countries.html?country=republique-centraficaine">République Centrafricaine</a></li>
          <li><a href="countries.html?country=tchad">Tchad</a></li>
          <li><a href="countries.html?country=somalie">Somalie</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Passez à l’action</h4>
        <ul>
          <li><a href="volunteering.html">Bénévolat</a></li>
          <li><a href="career.html">Carrière</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-6 footer-links">
        <h4>Contactez-nous</h4>
        <ul>
          <li><a href="contact.html">Contactez</a></li>
        </ul>
        <p>
          139 rue de dunière<br>
          Gatineau, QC<br>
          Canada<br><br>
          +1 (819) 580 0412<br>
          ciaud@ciaud.ca<br>
        </p>

       

      </div>

    </div>
  </div>

  <div class="container mt-4">
    <div class="copyright">
      &copy; Copyright <strong><span>ciaud</span></strong>. All Rights Reserved
    </div>
  </div>

</footer>