<link rel="stylesheet" href="assets/css/footer.css" />

<footer id="footer" class="footer">
  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-3 col-md-12 footer-info">
        <a href="index.html" class="logo d-flex align-items-center">
          <span class="box-logo"
            ><img src="assets/img/canada-logo.webp"
          /></span>
        </a>
        <p data-i18n="about-desc" class="translation"></p>
        <div class="social-links d-flex mt-4">
          <a
            href="https://twitter.com/CiaudCanada"
            class="twitter"
            target="_blank"
            ><i class="bi bi-twitter"></i
          ></a>
          <a
            href="https://www.facebook.com/CIAUD.CA"
            class="facebook"
            target="_blank"
            ><i class="bi bi-facebook"></i
          ></a>
          <a
            href="https://www.instagram.com/ciaudcanada"
            class="instagram"
            target="_blank"
            ><i class="bi bi-instagram"></i
          ></a>
          <a
            href="https://www.linkedin.com/company/ciaudcanada"
            class="linkedin"
            target="_blank"
            ><i class="bi bi-linkedin"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4 data-i18n="what-we-do" class="translation"></h4>
        <ul>
          <li><a href="about.html" data-i18n="about-ciaud" class="translation"></a></li>
          <li><a href="programs.html" data-i18n="our-programs" class="translation"></a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4 data-i18n="where-we-act" class="translation"></h4>
        <ul>
          <li><a href="countries.html?country=niger">Niger</a></li>
          <li><a href="countries.html?country=mali">Mali</a></li>
          <li><a href="countries.html?country=guinee">Guinée</a></li>
          <li><a href="countries.html?country=burkina-faso">Burkina Faso</a></li>
          <li>
            <a href="countries.html?country=cote-ivoire">Côte d’Ivoire</a>
          </li>
          <li><a href="countries.html?country=djibouti">Djibouti</a></li>
          <li><a href="countries.html?country=rdc">RDC</a></li>
          <li>
            <a href="countries.html?country=cameroun">Cameroun</a>
          </li>
          <li><a href="countries.html?country=tchad">Tchad</a></li>
          <li><a href="countries.html?country=somalie">Somalie</a></li>
          <li><a href="countries.html?country=togo">Togo</a></li>
          <li><a href="countries.html?country=nigeria">Nigeria</a></li>
          <li><a href="countries.html?country=kenya">Kenya</a></li>
          <li><a href="countries.html?country=ghana">Ghana</a></li>
          <li><a href="countries.html?country=south-sudan">Soudan du Sud</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4 data-i18n="take-action" class="translation"></h4>
        <ul>
          <li><a href="volunteering.html" data-i18n="volunteering" class="translation"></a></li>
          <li><a href="career.html" data-i18n="career" class="translation"></a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-6 footer-links">
        <h4 data-i18n="contact-us" class="translation"></h4>
        <ul>
          <li><a href="contact.html" data-i18n="contact" class="translation"></a></li>
        </ul>
        <p>
          139 rue de dunière<br />
          Gatineau, QC<br />
          Canada<br /><br />
          +1 (819) 580 0412<br />
          ciaud@ciaud.ca<br />
        </p>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="copyright">
      &copy; Copyright <strong><span>ciaud</span></strong>. All Rights Reserved
    </div>
  </div>
</footer>
