<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="index.html" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <img src="assets/img/logo.png" alt="">
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
            <ul>
                <li class="dropdown"><a href="#"><span>Ce que nous faisons</span> <i
                            class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="/about.html">À propos du CIAUD</a></li>
                        <li><a href="#">Nos programmes</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#"><span>Où nous agissons</span> <i
                            class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="#">Niger</a></li>
                        <li><a href="#">Mali</a></li>
                        <li><a href="#">Guinée</a></li>
                        <li><a href="#">Burkina Faso</a></li>
                        <li><a href="#">Côte d’Ivoire</a></li>
                        <li><a href="#">Djibouti</a></li>
                        <li><a href="#">RDC</a></li>
                        <li><a href="#">République Centrafricaine</a></li>
                        <li><a href="#">Tchad</a></li>
                        <li><a href="#">Somalie</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#"><span>Passez à l’action</span> <i
                            class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="#">Bénévolat</a></li>
                        <li><a href="#">Carrière</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav><!-- .navbar -->
        <div class="box-call">
            <a href="tel:+18195800412">
                <i class="fa-solid fa-phone-volume"></i>
                <span>+1 (819) 580 0412</span>
            </a>
        </div>
    </div>
</header>